<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="edu.hm.krivoj.monthpickerdialogexample">
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:name="${applicationName}" android:label="month_picker_dialog_2_example" android:icon="@mipmap/ic_launcher">
        <activity android:name=".MainActivity" android:launchMode="singleTop" android:theme="@style/LaunchTheme" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density" android:hardwareAccelerated="true" android:windowSoftInputMode="adjustResize">
            <meta-data android:name="io.flutter.app.android.SplashScreenUntilFirstFrame" android:value="true" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <meta-data android:name="flutterEmbedding" android:value="2" />
</manifest>